/* 
-- Style Guide --

background: #F5F4F0
border: #D9D9D9

Text
primary: #1B1B1B
secondary: #333333
tertiary: #696969
headline: #E1624F

Accent
blue: #0C51A7
orange: #E95E10
pink: #E5245E
purple: #591B98

Tipografia
font-family: open-sans

H1: 36px bold
H2: 32px bold
H3: 28px bold
headline: 16px bold
paragraph: 16px regular
subtitle: 16px italic
*/